      <div class="payment-type">
          <div class="bank"><input type="radio" name="payment_type" value="cash_card" id="cash_card" required> <label for="cash_card">Банковская карта или наличные в мастерской</label></div>
          <div class="bank"><input type="radio" name="payment_type" value="bankcard" id="bankcard" required> <label for="bankcard">Банковская карта онлайн <img src="/static/img/credit-card.png" width="200"></label></div>
          <div class="wallet"><input type="radio" name="payment_type" value="wallet" id="wallet" required> <label for="wallet">Kiwi кошелёк / Paypal <img src="/static/img/wallet.png" width="200"></label></div>
      </div>


