@font-face {
  font-family: "Din Pro";
  src: url(/static/fonts/dinpro.otf);
}
@font-face {
  font-family: "Din Pro Light";
  src: url(/static/fonts/dinpro-light.otf);
}
.base {
        background: url(/static/img/back.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body { overflow-x: hidden; background-color:transparent}
* { font-family: 'Din Pro Light', sans-serif; }

ul {
  margin: 0; 
  padding: 0;
}
.container { overflow: hidden; max-width: 1160px;}

.tm-top-header {
  color: #eeeeee;
}
.tm-site-logo,
 .tm-site-name {
  vertical-align: bottom;
}
.tm-logo-container { padding: 16px 0; }
.tm-logo-container img {padding: 0 12px; height: 30px;}
.tm-nav {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tm-nav li {
  font-family: "Din Pro Light", serif;
  font-size: 22px;
  list-style: none;
  float: left;
  white-space: nowrap;
}
.tm-nav li a {
  color: #909090;
  display: inline-block;
  padding: 15px 15px 20px 20px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-nav li a:hover,
 .tm-nav li a:focus,
 .tm-nav li a.active {  
  color: #343434;
  text-decoration: none;
}
.tm-nav li a.active {

}
.tm-top-header-inner {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile-menu-icon { display: none; }
.tm-section { margin-bottom: 60px; }
.tm-section-margin-bottom-0 { margin-bottom: 0; }

.category_menu {
    float: left;
    margin-right: 20px;
}
.category_menu a {
    color: #0E2231;
    font-weight: bold;
}
.category_menu ul {
  list-style: none;
}
.category-top a, .article-menu a {
    font-family: "Din Pro Light", serif;
    font-size: 18px;
    display: block;
    padding: .45rem 0.75rem;
    margin-bottom: -1px;
    border-top: #e2e2e2 1px solid;
    text-decoration: none;
}

.category-child a {
    font-family: "Din Pro Light", serif;
    font-size: 16px;
    display: block;
    padding: .15rem 2.25rem;
    margin-bottom: -1px;
    text-decoration: none;
}
.cat-active a {
  color: #273d71;
    background-color: rgba(153,152,153,0.05);
}
.category_menu li .active {
    border: 1px solid rgba(100,50,50,.125);
}
.light-gray-bg { background-color: #ededed; }
.tm-main-section { padding-top: 20px; overflow: hidden; max-width: 1180px;}
.img-thumbnail { padding: 8px; width:400px; border: 0; cursor: pointer;}
.inline-block { display: inline-block; }
.shadow-img {
  background: url(/static/img/shadow.png) no-repeat center bottom;
  padding-bottom: 7px;
}
.margin-top-30 { margin-top: 30px; }
.article-menu {
    margin-top: 100px;
}
.toast {
    background-color: rgba(255,244,162,1);
    border-radius: 8px;
    width: 300px;
    z-index: 1000;
}
.toast-body {
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 8px;
    display: table;
    width: 100%;
}
.toast-body img {
    float: right;
    padding: 4px;
    margin: 0 8px;
    border: #d5cfa1 1px solid;
    border-radius: 4px;
    height: 50px;
}
.td-delivery td {background-color: rgb(255, 244, 162); overflow:hidden; height: 70px;}
.td-gift td {background-color: rgba(255, 244, 162, .3); overflow:hidden; height: 70px;}
.table-product-list {width: 100%; }
.table-product-list tr:nth-child(even) {background: #fafafa;}
.table-product-list tr:nth-child(odd) {background: #ffffff; border-right: #fafafa 1px solid;}
.table-product-list td {padding: 2px 10px;border-top: #e8e8e8 1px solid; color: #54595f;}
.table-product-list thead tr th {background: #c1c1c1; color: #ffffff;font-weight: normal; padding: 14px;}
.table-product-list thead tr th:first-child {border-radius: 8px 0 0 0;}
.table-product-list thead tr th:last-child {border-radius: 0 8px 0 0;}
.table-product-list tfoot tr td {background: #c1c1c1; color: #ffffff;font-weight: normal; padding: 14px;}
.table-product-list tfoot tr td:first-child {border-radius: 0 0 0 8px;}
.table-product-list tfoot tr td:last-child {border-radius: 0 0 8px 0;}
.control-form {background-color: #fafafa;padding: 50px;margin: 10px 0 60px 0;border-radius: 8px;color: #6c757d}
.control-group {border-bottom: #fafafa solid 1px;display: flex; }
.control-label {width: 270px}
.textinput, .textarea {border-radius: 4px; border: #e8e8e8 1px solid; width: 400px;}
.textarea {height: 100px;}
.requiredField {font-weight: bold;}
select {
    font-size: large;
  padding: .25em;
  border: 0;
  border-radius: 4px;
}
.help-block {font-size: smaller; color: #949494}
.payment-type {display: flex; align-content: center;}
.payment-type div label {cursor:pointer;}
.payment-type div {
    margin: 10px;padding:10px;
    border: rgba(184,183,184,0.6) solid 1px;
    border-radius: 10px;
}
.payment-type div:hover {background-color: #fff2d9}
.order_body {
    padding: 50px 20px;
}
.order-label { font-weight: bold; width: 220px; float: left;white-space: nowrap;}
.order-data { border-bottom: rgba(68,67,68,0.6) 1px solid;}

.nav-link {border-radius: 6px 6px 0 0;}
.tm-popular-item {
  float:left;
  max-width: 294px;
  margin: 10px 10px 20px 0;
    width: 230px;
    border: 1px solid #f1f1f1;
}
.tm-popular-item-description {
  position: relative;
    padding: 10px;
}
.tm-item-image {
    height: 318px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 318px;
}
.tm-item-image div {margin: auto; height: 100%; }
.tm-item-image a {text-decoration: none}
.tag-container {

}
.tag-container a {color:  #6c757d;}
.tag-container a:hover {color: #2e327b;}
.title-tag {
    left: 8px;
    font-size: 18px;
}
.title-tag a {
  text-decoration: none;
    color: #6c757d;
}
.price-tag {
    color: #6c757d;
    font-size: 26px;
    float: left;
    font-weight: 500;
    padding-left: 8px;
}
.cart-tag img {
    height: 34px;
    position: absolute;
    right: 18px;
}
.hit-tag {
    position: absolute;
    top: -300px;
    left: 96px;
    font-size: 24px;
}
.new-tag {
    position: absolute;
    top: -300px;
    left: -16px;
    font-size: 24px;
}
.tab-pane {background-color: #ffffff; padding: 20px;margin-bottom: 30px;border-radius: 6px 6px 0 0;}
.tab-pane p {padding: 10px 0;}
.nav-link {border-radius: 6px 6px 0 0;}
.tm-product-details {
    background-color: #fff;
    padding: 8px;
    width: 100%;
}

.tm-product-image-container { float: left; }
.tm-product-image-container img { border-radius: 4px;}
.tm-product-thumbnails { padding: 4px; align-content: center; }
.tm-product-thumbnails img { cursor: pointer; border: #ededed 1px solid; padding: 4px;}
.form-control {
  border-color: #aeaeaf;
  border-radius: 10px;
}
.tm-product-title {
    font-weight: 900;
  margin-top: 0;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
    color: #6c757d;
}
.tm-product-description {
  margin-bottom: 0;
  text-align: justify;
    padding: 20px;
}
.tm-product-price-link {
  border: 2px solid rgb(174,174,174);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  text-align: center;
  padding-top: 7px;
  font-size: 40px;
  color: rgb(174,174,174);
}
.tm-product {
  cursor: pointer;
  margin-bottom: 20px;
}
.tm-product:hover .tm-product-price-link {
  border-color: #aeaeaf;
  color: #aeaeaf;
  text-decoration: none;
}
.tm-product:hover .tm-product-title { color: #aeaeaf; }
.tm-old-price {
    text-decoration: line-through #ff0051;
    color: #c9c9c9;
}
.tm-social-icon {padding: 0 9px;}
.toast {position: absolute; right: 30px;}






/* Footer */
.tm-black-bg {
  background-color: #302f2f;
  color: white;
  padding-top: 50px;
}
.tm-footer-div-title {
  color: white;
  font-size: 21px;
  font-weight: 700;
}
.tm-footer-nav {
  font-weight: 700;
  text-transform: uppercase;
}
.tm-footer-nav ul { list-style: none; }
.tm-footer-nav li { padding: 15px 0 0 0; }
.tm-footer-nav li a { color: white; }
.tm-footer-nav li a:hover {
  color: #c79c60;
  text-decoration: none;
}
.tm-nav input[type="input"] {
  font-size: 14px;
	margin: 18px 4px;
	padding: 2px 10px;
	border: 1px solid #bbbbbb;
	border-radius: 6px;
  width: 200px;
  color: #555555;
}
.tm-nav button {
	border:0;
	background: none;
}
.group-farm {
	margin-left: 50%;
}
.group {
  font-family: "Din Pro", serif;
  color: #9a9a9a;

	display: inline-block;
	margin: 0 10px;
	text-align: center;
}
.group h3 {font-weight: 400;}
.breadcrumb {
    background-color: rgba(246,245,246,0.6); padding: 4px 30px;
}
.breadcrumb a {color: #6c757d; font-weight: bold;}
.breadcrumb a:hover {color: #38424b; text-decoration: none}


@media screen and (max-width: 991px) {
  .group-farm {margin-left: 400px;}
  .tm-welcome-content { margin-bottom: 250px; }
  .tm-main-section { padding-top: 200px; }
  .light { 
    width: 240px; 
    height: auto;
  }
  .tm-footer-div { margin-bottom: 40px; }
  .tm-special-container { display: block; }
  .tm-special-container-left { margin-bottom: 15px; }
  .tm-special-container-lower {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 15px;
  }
  .tm-special-container-lower .tm-special-item { margin-right: 10px; }
  .tm-special-container-lower .tm-special-item:last-child { margin-right: 0; }
  .tm-product { margin-left: 0; }
  .tm-daily-menu-img { margin-bottom: 30px; }
  #google-map { margin-top: 50px; }
}

@media screen and (max-width: 767px) {
  .group-farm {margin-left: 400px;}
  .tm-nav { display: none; }
  .tm-nav li a { padding-left: 35px; }
  .tm-logo-container { margin-left: 15px; }  
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    color: #eeeeee;
    font-size: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.3);
    padding: 6px 15px;
    z-index: 1000;
  }
  .tm-nav {
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 69px;
    right: 15px;
    background-color: rgba(230,230,230,0.95);
  }
  .tm-nav li { float: none; }
  .tm-nav li a {
     display: block;
     padding-bottom: 15px;
     margin-bottom: 5px;
  }
  .tm-nav li a.active { background-position: 7% 30%, 40% bottom; }
  .light-1, .light-2 { display: none; }
  .tm-lights-container { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .tm-welcome-header { font-size: 40px; }
  .tm-welcome-img-container { 
    margin-top: 30px;
    text-align: left; 
  }
  .tm-header-line { width: 44px; }
  .tm-main-section { padding-top: 130px; }
  .tm-section-header-container { 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
        -ms-flex-align: start; 
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
  }
}

@media screen and (max-width: 650px) {
  .group-farm {margin-left: 200px;}
  .tm-welcome-content {  margin-bottom: 190px; }
  .tm-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm-product-text {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
  .tm-product-description { text-align: center; }
}

@media screen and (max-width: 550px) {
  .group-farm {margin-left: 100px;}
  .tm-welcome-content { margin-bottom: 130px; }
}

@media screen and (max-width: 450px) {
  .group-farm {margin-left: 100px;}
  .tm-welcome-content { margin-bottom: 90px; }
}

@media screen and (max-width: 370px) {
  .group-farm {margin-left: 0;}
  .tm-welcome-content { margin-bottom: 60px; }
}
