body { overflow-x: hidden; font-size: medium;}
ul { 
  margin: 0; 
  padding: 0;
}
a {
    color: #9B703F;
}
p { text-align: justify; }
* { font-family: 'Open Sans', sans-serif; }
.container { max-width: 1180px; }
.tm-handwriting-font { font-family: 'Damion', cursive; }
.tm-top-header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 5;*/
  background: black;
  color: white;
}
input { color: #0E2231; font-size: 12px;}

.tm-site-name, .tm-site-name a, .tm-site-name a:hover {
  color: #FFFFFF;
  font-weight:700;
  display: inline-block;
  font-size: 28px;
  margin: 0 10px;
  text-decoration: none;
}
.tm-logo-container { padding: 10px 0; }
.tm-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}
.tm-nav li {
  list-style: none;
  float: left;
}
.tm-nav li a {
  color: white;
  display: inline-block;
  padding: 5px 5px 10px 10px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-nav li a:hover,
 .tm-nav li a:focus,
 .tm-nav li a.active {  
  color: #ffe5b9;
  text-decoration: none;
}
.tm-nav li a.active {
}
.tm-top-header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
    width: 100%;
}
.mobile-menu-icon { display: none; }
.tm-section { margin-bottom: 60px; }
.tm-section-margin-bottom-0 { margin-bottom: 0; }

/* Welcome */
.white-text { color: white; }
.blue-text { color: #0066CC; }
.gold-text { color: #aeaeaf; }
.gray-text { color: #949494; }
.green-text { color: #30A430; }
.tm-position-relative { position: relative; }
.tm-table-set {
  position: absolute;
  bottom: -100px;
  left: 0;
}
.tm-lights-container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* Main content */
.category_menu {
    display: block;
    float: left;
    height: 600px;
    margin-right: 20px;
}
.category_menu a {
    color: #0E2231;
    font-weight: bold;
}
.category_menu ul {
  list-style: none;
}
.category-top a {
    font-size: medium;
    display: block;
    padding: .45rem 0.75rem;
    margin-bottom: -1px;
    border-top: #c7c7c7 1px solid;
    text-decoration: none;
}

.category-child a {
    font-size: small;
    display: block;
    padding: .15rem 2.25rem;
    margin-bottom: -1px;
    text-decoration: none;
}
.cat-active a {
  color: #9B703F;
}
.category_menu li .active {
    border: 1px solid rgba(100,50,50,.125);
}
.light-gray-bg { background-color: #ededed; }
.tm-main-section { padding-top: 20px; overflow: hidden; max-width: 1180px;}
.img-thumbnail { padding: 8px; width:400px; border: 0; cursor: pointer;}
.inline-block { display: inline-block; }
.shadow-img {
  background: url(/static/img/shadow.png) no-repeat center bottom;
  padding-bottom: 7px;
}
.margin-top-30 { margin-top: 30px; }

/* Footer */
.tm-black-bg {
    color: white;
    padding-top: 50px;
    background: #000000 url(/static/img/footer-bg.jpg) no-repeat center bottom;
  background-size: 100% 100%;
}
.tm-footer-div-title {
  color: white;
  font-size: 21px;
  font-weight: 700;
}
.tm-footer-nav {
  font-weight: 700;
  text-transform: uppercase;
}
.tm-footer-nav ul { list-style: none; }
.tm-footer-nav li { padding: 15px 0 0 0; }
.tm-footer-nav li a { color: white; }
.tm-footer-nav li a:hover {
  color: #aeaeaf;
  text-decoration: none;
}
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-15 { margin-top: 15px; }
.copyright-text {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tm-social-icon {
  color: white;
  display: inline-block;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  text-align: center;
  padding-top: 4px;
  margin-right: 10px;
}
.tm-social-icon:last-child { margin-right: 0; }
.tm-social-icon:hover,
.tm-social-icon:focus {
  background-color: #BB8232;
  color: white;
}
.tm-social-icons-container { margin-top: 25px; }
.tm-popular-item {
  float:left;
  background: url(/static/img/product-bg.png) no-repeat;
  background-size: 100% 100%;
  max-width: 294px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 500px;
}
.tm-item-image {
    height:350px;
}
.tm-popular-item-img { margin: 6px; width:280px;}
.tm-popular-items-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.tm-popular-items-container:last-child { margin-top: 15px; }
.tm-popular-item-description {
  padding: 0 30px 60px;
  position: relative;
  text-align: center;
  background: no-repeat;
  background-size: 100%;
}
.tm-popular-item-title,
.item-tag {
  color: rgb(255,255,255);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  font-size: 24px;
  border: 2px solid rgb(255,255,255);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  padding-top: 8px;
}
.order-now-link {
  color: rgb(174,174,174);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.order-now-link {
  font-size: 24px;
  border: 2px solid rgb(174,174,174);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  padding-top: 8px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-popular-item:hover { background-image: url(/static/img/product-bg-hover.png); }
.tm-popular-item:hover .tm-popular-item-title { color: #aeaeaf; }
.tm-popular-item:hover hr {
  border-color: #aeaeaf;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-popular-item:hover .order-now-link {
  border-color: #aeaeaf;
  color: #aeaeaf;
  text-decoration: none;
}
.tm-popular-item-title {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 0;
}
.tm-popular-item-hr {
  margin-top: 0;
  margin-bottom: 15px;
}
.bigger-first-letter { font-size: 60px; }
.tag-container {
  position: absolute;
  font-size: 50px;
}
.tag-container a {
  color:  #6c757d;
}
.tag-container a:hover {
    color: #9B703F;
}
.order-now-container {
  bottom: -80px;
  left: 224px;
}
.hit-container {
    bottom: -80px;
  left: 136px;
}
.new-container {
    bottom: -80px;
}
.price-container {
  top: -342px;
    right: 10px;
    color: goldenrod;
    font-size: 34px;
    font-weight: 700;
  text-shadow: -1px 0 #927c58, 0 1px #927c58, 1px 0 #927c58, 0 -1px #927c58;
}
.title-container {
    left: 8px;
    font-size: 18px;
    font-weight: 700;
    width: 92%;
}
.title-container a {
  text-decoration: none;
  text-shadow: -1px 0 #c9c9c9, 0 1px #c9c9c9, 1px 0 #c9c9c9, 0 -1px #c9c9c9;
}

.tm-special-item {
  display: inline-block;
  padding: 8px;
  background-color: white;
  max-width: 100%;
}
.tm-special-img-container {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.tm-special-description {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background: rgba(0,0,0,0.6);
  width: 100%;
  padding: 12px 10px 5px;
}
.tm-special-title { margin-top: 0; }
.tm-special-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tm-special-container-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tm-special-container-lower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* http://stackoverflow.com/questions/488830/ol-with-numbers-another-color */
ol { counter-reset: item }
ol li { display: block }
ol li:before { 
  content: counter(item) ". "; 
  counter-increment: item;
  color: #aeaeaf;
  font-weight: 700;
}
.tm-section-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*http://stackoverflow.com/questions/1032914/how-to-make-a-div-to-fill-a-remaining-horizontal-space-a-very-simple-but-annoyi*/
.tm-section-header { width: 350px; }
.tm-hr-container {
  width: 100%;
  height: 41px;
}
.tm-hr { border-color: #aeaeaf; }
.tm-daily-menu-container { overflow: hidden; }

/* Menu */
.tm-side-menu {
  color: white;
  width: 242px;
  padding-top: 7px;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;  
}
.tm-side-menu-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.tm-side-menu li { list-style: none; }
.tm-side-menu li a {
  color: #7c6a51;
  padding: 7px;
  display: block;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-side-menu li a:hover,
.tm-side-menu li a.active {
  color: #aeaeaf;
  text-decoration: none;
}
.tm-product {
  margin-right: 0;
  margin-left: auto;
  max-width: 652px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 20px;
}
.tm-product-text { max-width: 325px; }
.tm-product-price {
    font-size: 28px;
    font-weight: bolder;
    color: #9B703F;
}
.toast {
    background-color: rgba(255,244,162,1);
    border-radius: 8px;
    width: 300px;
}
.toast-body { border-bottom: #ffd393 1px solid; margin-bottom: 5px;}
.tm-product-title {
  margin-top: 0;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-product-description {
  margin-bottom: 0;
  text-align: justify;
}
.tm-product-price-link {
  border: 2px solid rgb(174,174,174);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  text-align: center;
  padding-top: 7px;
  font-size: 40px;
  color: rgb(174,174,174);
}
.tm-product {
  cursor: pointer;
  margin-bottom: 20px;
}
.tm-product:hover .tm-product-price-link {
  border-color: #aeaeaf;
  color: #aeaeaf;
  text-decoration: none;  
}
.tm-product:hover .tm-product-title { color: #aeaeaf; }
.tm-product-price-currency {
  font-size: 20px;
  position: absolute;
  top: 24px;
  left: 22px;
}
.page-content {
    overflow: hidden;
}
.tm-product-details {
    display: block;
    background-color: #fff;
    padding: 8px;
}

.tm-product-image-container { float: left; }
.tm-product-image-container img { border-radius: 4px;}
.tm-product-thumbnails { padding: 4px; align-content: center; }
.tm-product-thumbnails img { cursor: pointer; border: #ededed 1px solid; padding: 4px;}
.form-control {
  border-color: #aeaeaf;
  border-radius: 10px;
}
.product-details {
}
.form-control:focus { 
  border-color: rgb(136, 93, 33); 
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(199, 156, 96, 0.6); 
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(199, 156, 96, 0.6);
}
button.tm-more-button {
  background-color: transparent;
  border: 0;
  display: block;
  outline: 0;
}
#google-map { 
  height: 350px;
  border: 3px solid #fff;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .tm-welcome-content { margin-bottom: 250px; }
  .tm-main-section { padding-top: 20px; }
  .light { 
    width: 240px; 
    height: auto;
  }
  .tm-footer-div { margin-bottom: 40px; }
  .tm-special-container { display: block; }
  .tm-special-container-left { margin-bottom: 15px; }
  .tm-special-container-lower {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 15px;
  }
  .tm-special-container-lower .tm-special-item { margin-right: 10px; }
  .tm-special-container-lower .tm-special-item:last-child { margin-right: 0; }
  .tm-product { margin-left: 0; }
  .tm-daily-menu-img { margin-bottom: 30px; }
  #google-map { margin-top: 50px; }
}

@media screen and (max-width: 767px) {
  .tm-nav { display: none; }
  .tm-nav li a { padding-left: 35px; }
  .tm-logo-container { margin-left: 15px; }  
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    color: #aeaeaf;
    font-size: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.6);
    padding: 6px 15px;
    z-index: 1000;
  }
  .tm-nav {
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 69px;
    right: 15px;
    background-color: rgba(0,0,0,0.7);
  }
  .tm-nav li { float: none; }
  .tm-nav li a {
     display: block;
     padding-bottom: 15px;
     margin-bottom: 5px;
  }
  .tm-nav li a.active { background-position: 7% 30%, 40% bottom; }
  .light-1, .light-2 { display: none; }
  .tm-lights-container { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .tm-welcome-header { font-size: 40px; }
  .tm-welcome-img-container { 
    margin-top: 30px;
    text-align: left; 
  }
  .tm-header-line { width: 44px; }
  .tm-main-section { padding-top: 20px; max-width: 1080px;}
  .tm-section-header-container { 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
        -ms-flex-align: start; 
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
  }
}

@media screen and (max-width: 650px) {
  .tm-welcome-content {  margin-bottom: 190px; }
  .tm-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm-product-text {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
  .tm-product-description { text-align: center; }
}

@media screen and (max-width: 550px) {
  .tm-welcome-content { margin-bottom: 130px; }
}

@media screen and (max-width: 450px) {
  .tm-welcome-content { margin-bottom: 90px; }
}

@media screen and (max-width: 370px) {
  .tm-welcome-content { margin-bottom: 60px; }
}
