{% extends 'base.html' %}
{% load crispy_forms_tags %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Корзина</li>
                  {% endblock %}
{% block content %}
<h4 class="text-center">Ваша корзина {% if not order.products.count %}пуста{% endif %}</h4>

    {% if order.products.count %}
<table class="table-product-list">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th scope="col">Цена</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Общая цена</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.products.all %}
        <tr>
          <td scope="row">{{ item.product.title }}</td>
          <td><div class="tm-product-thumbnails">{{ item.product.image_thumb }}</div></td>
          <td>
          {%  if item.product.price_discount  %}
              <strike>{{ item.product.price }}&#x20bd;</strike><br>
              {{ item.product.price_discount }}&#x20bd;
          {% else %}
              {{ item.product.price }}&#x20bd;
          {% endif %}
          </td>
          <td>
            <form action="{% url 'change_qty' slug=item.product.slug %}" method="POST">
              {% csrf_token %}
              <input type="number" class="form-control" name="qty" style="width: 70px;" min="0" value="{{ item.qty }}" onchange="this.form.submit()">
            </form>
          </td>
            <td>{{ item.final_price }}&#x20bd;</td>
          <td>
            <a href="{% url 'delete_from_cart' slug=item.product.slug %}"><button class="btn btn-light">Удалить</button></a>
          </td>
        </tr>
    {% endfor %}
        <tr>
            {% if order.gift %}
            <td>{{ order.gift.title }} </td>
            <td class="tm-product-thumbnails">{{ order.gift.image_thumb }}</td>
            <td colspan="5">Подарок</td>
            {% else %}
            <td colspan="7">
            <p><a href="{% url 'gifts' %}">Выбери подарок при сумме заказа от {{ bonus_sum }} руб.</a></p>
            </td>
       {% endif %}
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td>Всего товаров:</td>
          <td>{{ order.total_products }}</td>
          <td><strong>{{ order.total_price_net }} &#x20bd;</strong></td>
          <td>&nbsp;</td>
        </tr>
    {% if order.delivery_cost %}
        <tr class="td-delivery">
            <td colspan="4">{{ order.get_delivery_type_display }}</td>
            <td colspan="2">{{ order.delivery_cost }} &#x20bd;</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td>Итого:</td>
          <td>&nbsp;</td>
          <td><strong>{{ order.total_price_gross }} &#x20bd;</strong></td>
          <td>&nbsp;</td>
        </tr>
    {% endif %}
    </tbody>
    <tfoot>
        <tr>
            {% if not request.user.is_authenticated %}
            <td colspan="1"></td>
            <td colspan="6">
            <p>Для оформления заказа:
              <a href="{% url 'login' %}">
                <button class="btn btn-danger">Войти</button>
              </a> или <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </td>
            {% else %}
        <td colspan="3" align="right">
        <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            {{ form.delivery_type }}
        </td>
        <td colspan="4">
            <input type="submit" class="btn btn-success" value="Выбрать тип доставки">
        </td>
        </form>
            {% endif %}
        </tr>
    </tfoot>
</table>
<h5 class="text-center margin-top-30">Условия доставки</h5>
{% endif %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#self" role="tab" aria-controls="home" aria-selected="true">Самовывоз</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#spb" role="tab" aria-controls="profile" aria-selected="false">Курьером по Санкт-Петербургу</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#ru" role="tab" aria-controls="contact" aria-selected="false">Почтой по России</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#w" role="tab" aria-controls="contact" aria-selected="false">За рубеж</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="self" role="tabpanel" aria-labelledby="home-tab">
      Забрать заказ самовывозом из нашей мастерской можно бесплатно.
  </div>
  <div class="tab-pane fade" id="spb" role="tabpanel" aria-labelledby="profile-tab">
      По Санкт-Петербургу мы осуществляем доставку до ближайшего к Вам пункта выдачи компанией «СДЭК» или курьером. Стоимость отправки до пункта выдачи составит 300р, время доставки: 1-2 рабочих дня, начиная со следующего дня, после оформления заказа.
      <p>Доставка заказа курьером лично в руки, по городу Санкт-Петербургу: 450р.
  </div>
  <div class="tab-pane fade" id="ru" role="tabpanel" aria-labelledby="profile-tab">В любой другой город России, доставка осуществляется посредством почты, стоимость доставки 300р. Срок доставки по России в среднем составляет 7-14 дней. Сроки устанавливаются Почтой России и зависят от загруженности почты. После отправки, Вашей посылке будет присвоен трек-номер, с помощью которого на сайте или в приложении можно будет отследить передвижение посылки.
  <p>При заказе от 2500р, доставка по СПб и России осуществляется бесплатно.

</div>
  <div class="tab-pane fade" id="w" role="tabpanel" aria-labelledby="contact-tab">Стоимость доставки заказа авиа почтой по миру: 900р. Сроки доставки зависят от загруженности почты. Месторасположение посылки можно будет отследить на сайте почты, по присвоенному посылке трек-номеру.

</div>
</div>

{% endblock content %}