{% extends 'base.html' %}
{% load crispy_forms_tags %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Корзина</li>
                  {% endblock %}
{% block content %}
<h3 class="text-center mb-5">Ваша корзина {% if not order.products.count %}пуста{% endif %}</h3>

    {% if order.products.count %}
<div class="modal-content">
<table class="table">
  <thead>
    <tr>
      <td colspan="2"></td>
      <td scope="col">Цена</td>
      <td scope="col">Кол-во</td>
      <td scope="col">Общая цена</td>
      <td scope="col">&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    {% for item in order.products.all %}
        <tr>
          <td scope="row">{{ item.product.title }}</td>
          <td><div class="tm-product-thumbnails">{{ item.product.image_thumb }}</div></td>
          <td>
          {%  if item.product.price_discount  %}
              <strike>{{ item.product.price }}&#x20bd;</strike><br>
              {{ item.product.price_discount }}&#x20bd;
          {% else %}
              {{ item.product.price }}&#x20bd;
          {% endif %}
          </td>
          <td>
            <form action="{% url 'change_qty' slug=item.product.slug %}" method="POST">
              {% csrf_token %}
              <input type="number" class="form-control" name="qty" style="width: 70px;" min="0" value="{{ item.qty }}" onchange="this.form.submit()">
            </form>
          </td>
            <td>{{ item.final_price }}&#x20bd;</td>
          <td>
            <a href="{% url 'delete_from_cart' slug=item.product.slug %}"><button class="btn btn-light">Удалить</button></a>
          </td>
        </tr>
    {% endfor %}
        <tr>
            {% if order.gift %}
            <td>{{ order.gift.title }} </td>
            <td class="tm-product-thumbnails">{{ order.gift.image_thumb }}</td>
            <td colspan="5">Подарок</td>
            {% else %}
            <td colspan="7">
            <p><a href="{% url 'gifts' %}">Выбери подарок при сумме заказа от {{ bonus_sum }} руб.</a></p>
            </td>
       {% endif %}
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td>Итого:</td>
          <td>{{ order.total_products }}</td>
          <td><strong>{{ order.final_price }} &#x20bd;</strong></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
            {% if not request.user.is_authenticated %}
            <td colspan="1"></td>
            <td colspan="6">
            <p>Для оформления заказа:
              <a href="{% url 'login' %}">
                <button class="btn btn-danger">Войти</button>
              </a> или <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </td>
            {% else %}
{#           <a href="{% url 'checkout' %}"><button class="btn btn-primary">Перейти к оформлению</button></a>#}
        <form action="{% url 'checkout' %}" method="POST">
        <td colspan="3" align="right">
            {% csrf_token %}
            {{ form.delivery_type }}
        </td>
        <td colspan="4">
            <input type="submit" class="btn btn-success" value="Оформить заказ">
        </td>
        </form>
            {% endif %}
        </tr>
  </tbody>
</table>
</div>
{% endif %}
{% endblock content %}