{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Оформление заказа</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Кол-во</th>
        <th scope="col">Общая цена</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.products.all %}
        <tr>
          <th scope="row">{{ item.product.title }}</th>
          <td>{{ item.product.image_tag }}</td>
          <td>{{ item.product.price }} &#x20bd;</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.final_price }} &#x20bd;</td>
        </tr>
    {% endfor %}
        <tr>
        {% if order.gift %}
            <th>{{ order.gift.title }} </th>
            <td>{{ order.gift.image_tag }}</td>
            <td colspan="3">Подарок</td>
       {% endif %}
        </tr>
        <tr>
            <td colspan="2">{{ order.get_delivery_type_display }}</td>
            <td colspan="3">{{ order.delivery_cost }} &#x20bd;</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>Итого:</td>
          <td>{{ order.total_products }}</td>
          <td><strong>{{ order.final_price }} руб.</strong></td>
        </tr>
  </tbody>
</table>
<hr>
{% if request.user.is_authenticated %}

  <form action="{% url 'make_order' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success btn-block mb-3" value="Оформить заказ">
  </form>
{% else %}
<p>Для оформления заказа:
  <a href="{% url 'login' %}">
    <button class="btn btn-danger">Войти</button>
  </a>
  <br>Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
{% endif %}
{% endblock content %}
