            <div class="tm-popular-item">
                <div class="tm-item-image shadow-img">
              <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="Popular" class="tm-popular-item-img"></a>
                </div>
              <div class="tm-popular-item-description">
                <div class="tag-container title-container">
                    <div><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
                    <hr class="tm-popular-item-hr">
                </div>

                 <div class="tag-container price-container">
                   {% if product.quantity %}
                    <div>{% if product.price_discount %}
                        <strike>{{ product.price|floatformat:"0" }}&#x20bd;</strike><br>
                         {{ product.price_discount|floatformat:"0" }}&#x20bd;
                       {% else %}
                         {{ product.price|floatformat:"0" }}&#x20bd;
                     {% endif %}
                    </div>
				   {% else %}
					 <p>Нет в наличии</p>
				   {% endif %}
                 </div>

                    {% if product.new %}
                <div class="tag-container new-container" title="Новинка!">
                    <a href="{% url 'add_to_cart' slug=product.slug %}"><i class="fa fa-star"></i></a>
                </div>
                    {% endif %}
                    {% if product.bestseller %}
                <div class="tag-container hit-container" title="Хит продаж!">
                    <a href="{% url 'add_to_cart' slug=product.slug %}"><i class="fa fa-bomb"></i></a>
                </div>
                    {% endif %}
                <div class="tag-container order-now-container">
                    <a href="{% url 'add_to_cart' slug=product.slug %}"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
