{% extends 'base.html' %}
 {% load static %}
{% block title %}{{ product.title }}{% endblock %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ product.category.parent.get_absolute_url }}">{{ product.category.parent.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
                  {% endblock %}
{% block content %}


<div class="tm-product-details">
        <div class="tm-product-image-container">
            <img src="{{ product.image_name }}" class="img-thumbnail shadow-img">
        </div>
        <h3 class="tm-product-title">{{ product.title }}</h3>
        <div class="tm-product-price">
         {{ product.price }} &#x20bd;
        </div>
       {% if product.quantity %}
       <a href="{% url 'add_to_cart' pk=product.pk %}"><button class="btn btn-warning">В корзину <img src="{% static "img/vector_cart.svg" %}" height="18"></button></a>
       {% else %}
         <p>Нет в наличии</p>
       {% endif %}

</div>

{% endblock content %}
