 {% load static %}
           <div class="tm-popular-item">
                <div class="tm-item-image" style="background-image: url('{{ product.image_name }}')">
              <a href="{{ product.get_absolute_url }}"><div>&nbsp;</div></a>
                </div>
              <div class="tm-popular-item-description">

                 <div class="tag-container price-tag">
                   {% if product.quantity %}
                    <div>
                    {{ product.price }} &#x20bd;
                    </div>
				   {% else %}
					 <p>Нет в наличии</p>
				   {% endif %}
                 </div>
                   {% if product.quantity %}
                <div class="tag-container cart-tag">
                    <a href="{% url 'add_to_cart' pk=product.pk %}" title="Положить в корзину"><img src="{% static "img/vector_cart.svg" %}" height="50"></a>
                </div>
                    {% endif %}

              <br><br>
                <div class="tag-container title-tag">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </div>

              </div>
            </div>
