{% extends 'base.html' %}
{% load crispy_forms_tags %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Заказ</li>
                  {% endblock %}
{% block content %}

<div class="col-md-12" style="margin-top: 50px; margin-bottom: 150px">

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Детали заказа № {{ pay_order.id }}</h5>
          </div>
          <div class="modal-body">
              <table>
                  <thead>
                  <tr>
                      <th scope="col" colspan="2">Наименование</th>
                      <td>Цена</td>
                      <td>Кол-во</td>
                      <td>Итого</td>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item in pay_order.products.all %}
                    <tr>
                        <th>{{ item.product.title }}</th>
                        <td class="w-25">{{ item.product.image_tag }}</td>
                        <td><strong>{{ item.product.price }} &#x20bd;</strong></td>
                        <td align="center">{{ item.qty }}</td>
                        <td>{{ item.final_price }} &#x20bd;</td>
                    </tr>
                  {% endfor %}
                    <tr>
                        {% if pay_order.gift %}
                        <td>{{ pay_order.gift.title }} </td>
                        <td>{{ pay_order.gift.image_tag }}</td>
                        <td colspan="3">Подарок</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Итого:</td>
                        <td align="center">{{ pay_order.total_products }}</td>
                        <td><strong>{{ pay_order.final_price }} &#x20bd;</strong></td>
                    </tr>
                  </tbody>
              </table>
              <hr>
              <h4 class="text-center">Дополнительная информация</h4>
              <p>Получатель: {{ pay_order.last_name }} {{ pay_order.first_name }} {{ pay_order.patronymic }}</p>
              {% if pay_order.payment_type %}<p>Способ отплаты: {{ pay_order.get_payment_type_display }}</p>{% endif %}
              {% if pay_order.delivery_type %}<p>Оформлено: {{ pay_order.get_delivery_type_display }}</p>{% endif %}
              {% if pay_order.tracking %}<p>Трекинг номер: <a href="https://www.cdek.ru/ru/tracking">{{ pay_order.tracking }}</a></p>{% endif %}
              {% if pay_order.phone %}<p>Телефон: {{ pay_order.phone }}</p>{% endif %}
              {% if pay_order.postal_code %}<p>Индекс: {{ pay_order.postal_code }}</p>{% endif %}
              {% if pay_order.settlement %}<p>Населенный пункт: {{ pay_order.settlement }}</p>{% endif %}
              {% if pay_order.address %}<p>Адрес: {{ pay_order.address }}</p>{% endif %}
              {% if pay_order.comment %}<p>Комментарий: {{ pay_order.comment }}</p>{% endif %}
          </div>
          <div class="modal-footer">
              <form action="{% url 'bank_pay' %}" method="POST">
                <input type="hidden" name="order" value="{{ pay_order.id }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success btn-block mb-3" value="Оплатить">
              </form>
          </div>
        </div>

</div>

{% endblock %}