{% extends 'base.html' %}
{% load crispy_forms_tags %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Заказ</li>
                  {% endblock %}
{% block content %}

<div class="col-md-12" style="margin-top: 50px; margin-bottom: 150px">

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Детали заказа № {{ order_to_pay.id }}</h5>
          </div>
          <div class="modal-body">
              <table class="table-product-list">
                  <thead>
                  <tr>
                      <th scope="col" colspan="2"></th>
                      <th>Цена</th>
                      <th>Кол-во</th>
                      <th>Итого</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item in order_to_pay.products.all %}
                    <tr>
                        <td>{{ item.product.title }}</td>
                        <td class="w-25">{{ item.product.image_thumb }}</td>
                        <td><strong>{{ item.product.price }} &#x20bd;</strong></td>
                        <td align="center">{{ item.qty }}</td>
                        <td>{{ item.final_price }} &#x20bd;</td>
                    </tr>
                  {% endfor %}
                    <tr>
                        {% if order_to_pay.gift %}
                        <td>{{ order_to_pay.gift.title }} </td>
                        <td>{{ order_to_pay.gift.image_thumb }}</td>
                        <td colspan="3">Подарок</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="2">{{ order_to_pay.get_delivery_type_display }}</td>
                        <td colspan="2"></td>
                        <td>{{ order_to_pay.delivery_cost }} &#x20bd;</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>Итого:</td>
                        <td align="center">{{ order_to_pay.total_products }}</td>
                        <td><strong>{{ order_to_pay.total_price_gross }} &#x20bd;</strong></td>
                    </tr>
                  </tfoot>
              </table>
              <hr>

{% if order_to_pay.delivery_type %}<div><div class="order-label">&nbsp;</div><div class="order-data">{{ order_to_pay.get_delivery_type_display }}</div></div>{% endif %}
<div class="order_body">
{% if order_to_pay.first_name or order_to_pay.last_name %}<div><div class="order-label">Получатель:</div><div class="order-data">{{ order_to_pay.first_name }}&nbsp;{{ order_to_pay.last_name }}&nbsp;{{ order_to_pay.patronymic }}</div></div>{% endif %}
{% if order_to_pay.tracking %}<div><div class="order-label">Трекинг номер:</div><div class="order-data"><a href="https://www.cdek.ru/ru/tracking">{{ order_to_pay.tracking }}</a></div></div>{% endif %}
{% if order_to_pay.phone %}<div><div class="order-label">Телефон:</div><div class="order-data">{{ order_to_pay.phone }}</div></div>{% endif %}
{% if order_to_pay.postal_code %}<div><div class="order-label">Индекс:</div><div class="order-data">{{ order_to_pay.postal_code }}</div></div>{% endif %}
{% if order_to_pay.settlement %}<div><div class="order-label">Населенный пункт:</div><div class="order-data">{{ order_to_pay.settlement }}</div></div>{% endif %}
{% if order_to_pay.address %}<div><div class="order-label">Адрес:</div><div class="order-data">{{ order_to_pay.address }}</div></div>{% endif %}
{% if order_to_pay.comment %}<div><div class="order-label">Комментарий:</div><div class="order-data">{{ order_to_pay.comment }}</div></div>{% endif %}
</div>

{% if show_pay_button %}
              <form action="{% url 'bank_payment' %}" method="POST">
                <input type="hidden" name="order" value="{{ order_to_pay.id }}">
                {% csrf_token %}
                <input type="submit" class="btn btn-success btn-block" value="Перейти к оплате">
              </form>
{% elif order_to_pay.is_paid %}
        <div class="order-data">Оплачен</div>
{% elif order_to_pay.status == 'canceled' %}
        <div class="order-data">Отменён</div>
{% else %}
        <div class="order-data">В процессе платежа</div>
 {% endif %}
          </div>
        </div>

</div>

{% endblock %}