{% extends 'base.html' %}
{% block title %}Условия доставки{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb" class="mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Условия доставки</li>
      </ol>
    </nav>

<p>
Наша мастерская находится в Санк-Петербурге, все изделия изготавливаются нами вручную. Сборка, упаковка и отправка заказов- все это осуществляется нами в городе на Неве, с любовью к своему делу.

<p>
Обработка заказа осуществляется в течении 1-3 рабочих дней. Статус заказа Вы можете проверить на сайте, в личном кабинете или связавшись с нами по телефону ..., почте ... или через Инстаграм ...

<p>
Забрать заказ самовывозом можно в нашей мастерской, по адресу ..., в рамках графика работы нашей мастерской.
<p>
По Санкт-Петербургу мы осуществляем доставку до ближайшего к Вам пункта выдачи <a href="https://www.cdek.ru/ru/tracking" target="_blank">компанией «СДЭК»</a> или курьером.
Стоимость отправки до пункта выдачи составит 300₽, время доставки: 1-2 рабочих дня, начиная со следующего дня, после оформления заказа.
<p>Доставка заказа курьером лично в руки, по городу Санкт-Петербургу: 450₽.

<p>
В любой другой город России, доставка осуществляется посредством почты, стоимость доставки 300₽. Срок доставки по России в среднем составляет 7-14 дней. Сроки устанавливаются Почтой России и зависят от загруженности почты.
После отправки, Вашей посылке будет присвоен трек-номер, с помощью которого на сайте или в приложении можно будет отследить передвижение посылки.

<p>
При заказе от 2500₽, доставка по СПб и России осуществляется бесплатно.

<p>
Стоимость доставки заказа авиа почтой по миру: 900₽.
Сроки доставки зависят от загруженности почты. Месторасположение посылки можно будет отследить на сайте почты, по присвоенному посылке трек-номеру.

{% endblock content %}
