{% extends 'base.html' %}
{% block title %}{{ product.title }}{% endblock %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
                <li class="breadcrumb-item-active" aria-current="page">{{ product.title }}</li>
                  {% endblock %}
{% block content %}

    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
<div class="tm-product-details">
        <div class="tm-product-image-container">
            <img src="{{ product.image.url }}" class="img-thumbnail" id="main-image">
            <div class="tm-product-thumbnails">
            {% if product.productimage_set.count %}
                <img src="{{ product.image.url }}" onclick="javascript:document.getElementById('main-image').src=this.src">
            {% for product_image in product.productimage_set.all %}
                <img src="{{ product_image.image.url }}" onclick="javascript:document.getElementById('main-image').src=this.src" style="cursor: pointer;">
            {% endfor %}
            {% endif %}
            </div>
        </div>
        <h3 class="tm-product-title">{{ product.title }}</h3>
        {% if product.new %}
        <h4>Новинка</h4>
        {% endif %}
        {% if product.bestseller %}
        <h4>Хит</h4>
        {% endif %}
        {% if product.price_discount %}
         <strike class="tm-product-price">{{ product.price }} &#x20bd;</strike>
         <div class="tm-product-price">{{ product.price_discount }} &#x20bd;</div>
       {% else %}
         <div class="tm-product-price">{{ product.price }} &#x20bd;</div>
       {% endif %}
       {% if product.quantity %}
       <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-danger">В корзину <i class="fa fa-shopping-cart"></i></button></a>
       {% else %}
         <p>Нет в наличии</p>
       {% endif %}
        {% if product.limited %}
        <h4>Лимитированный выпуск</h4>
        {% endif %}
        <hr>
       <div class="tm-product-description tm-product-text">{{ product.description|safe }}</div>
     <table class="table">
      <tbody>
      {% if product.color %}
        <tr>
          <td>Цвет</td>
          <td>{{ product.color }}</td>
        </tr>
      {% endif %}
      {% if product.material %}
        <tr>
          <td>Материал</td>
          <td>{{ product.material }}</td>
        </tr>
      {% endif %}
      {% if product.height %}
        <tr>
          <td>Высота</td>
          <td>{{ product.height }} см</td>
        </tr>
      {% endif %}
      {% if product.width %}
        <tr>
          <td>Ширина</td>
          <td>{{ product.width }} см</td>
        </tr>
      {% endif %}
      {% if product.length %}
        <tr>
          <td>Длина</td>
          <td>{{ product.length }} см</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
    {% if product.care %}
   <p class="mt-4">Инструкции по уходу:</p>
    <p>{{ product.care }}</p>
    {% endif %}
   </div>


{% endblock content %}
