{% extends 'base.html' %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Профиль</li>
                  {% endblock %}
{% block content %}
<h3 class="mt-3 mb-3">Заказы клиента {{ request.user.username }}</h3>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
{% if not orders.count %}
    <div class="col-md-12" style="margin-top: 50px; margin-bottom: 150px">
        <h5>У вас еще нет заказов. <a href="{% url 'base' %}">Начать делать покупки</a></h5>
    </div>
{% else %}
<div class="col-md-12" style="margin-top: 50px; margin-bottom: 150px">
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Доставка</th>
                <th>Статус</th>
                <th>Сумма</th>
                <th>Товар</th>
                <th>Дополнительно</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td scope="row">
                    <button class="btn btn-info" data-toggle="modal" data-target="#Modal-{{ order.id }}">{{ order.id }}</button>
                </td>
                <td scope="row">{{ order.created_at }}</td>
                <td scope="row">{{ order.get_delivery_type_display }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>{{ order.final_price }}</td>
                <td nowrap=""><ul>
                    {% for item in order.products.all %}
                    <li>{{ item.product.title}} x {{ item.qty }}</li>
                    {% endfor %}
                </ul></td>
                <td>
                {% if order.is_paid %}
                Оплачен
                {% elif order.payment_type == 'cash_card' %}
                    Оплата в мастерской
                {% else %}
                <a href="{%  url 'order_pay' order.id %}"><button class="btn btn-danger">Оплатить</button></a>
                {% endif %}
                    <!-- Modal -->
                    <div class="modal fade" id="Modal-{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Детали заказа</h5>
                          </div>
                          <div class="modal-body">
                              <table>
                                  <thead>
                                  <tr>
                                      <th scope="col" colspan="2">Наименование</th>
                                      <td>Цена</td>
                                      <td>Кол-во</td>
                                      <td>Итого</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% for item in order.products.all %}
                                    <tr>
                                        <th>{{ item.product.title }}</th>
                                        <td class="w-25"><img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" height="50"></td>
                                        <td>{{ item.product.price }} &#x20bd;</td>
                                        <td>{{ item.qty }}</td>
                                        <td>{{ item.final_price }} &#x20bd;</td>
                                    </tr>
                                  {% endfor %}
                                    <tr>
                                        {% if order.gift %}
                                        <td>{{ order.gift }} </td>
                                        <td>{{ order.gift.image_tag }}</td>
                                        <td colspan="5">Подарок</td>
                                         {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="2">{{ order.get_delivery_type_display }}</td>
                                        <td colspan="2"></td>
                                        <td>{{ order.delivery_cost }} &#x20bd;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>Итого:</td>
                                        <td>{{ order.total_products }}</td>
                                        <td><strong>{{ order.final_price }} &#x20bd;</strong></td>
                                    </tr>
                                  </tbody>
                              </table>
                              <hr>
                              <h4 class="text-center">Дополнительная информация</h4>
                              <p>Покупатель: {{ order.last_name }} {{ order.first_name }} {{ order.patronymic }}</p>
                              {% if order.payment_type %}<p>Способ отплаты: {{ order.get_payment_type_display }}</p>{% endif %}
                              {% if order.delivery_type %}<p>Оформлено: {{ order.get_delivery_type_display }}</p>{% endif %}
                              {% if order.tracking %}<p>Трекинг номер: <a href="https://www.cdek.ru/ru/tracking">{{ order.tracking }}</a></p>{% endif %}
                              {% if order.phone %}<p>Телефон: {{ order.phone }}</p>{% endif %}
                              {% if order.postal_code %}<p>Индекс: {{ order.postal_code }}</p>{% endif %}
                              {% if order.settlement %}<p>Населенный пункт: {{ order.settlement }}</p>{% endif %}
                              {% if order.address %}<p>Адрес: {{ order.address }}</p>{% endif %}
                              {% if order.comment %}<p>Комментарий: {{ order.comment }}</p>{% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}