{% extends 'base.html' %}
{% load crispy_forms_tags %}
                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Регистрация</li>
                  {% endblock %}
{% block content %}
    <h3 class="text-center">Требуется подтверждение адреса электронной почты!</h3>
<div class="row" style="margin-bottom: 50px; margin-top: 50px">
<div class="control-form">
    <p><strong>Для оформления заказов</strong> необходимо убедиться, что вы правильно указали ваш email.</p>
    <p>Мы отправили письмо по указанному вами адресу email <strong>{{ user.email }}</strong></p>
    <p>Пожалуйста, перейдите по ссылке в письме для подтверждения адреса электронной почты.</p>
    <p>Если письмо так и не пришло, убедитесь, что оно не попало в папку "Спам".</p>

</div>

</div>
{% endblock %}