{% extends 'base.html' %}
{% load crispy_forms_tags %}
                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Регистрация</li>
                  {% endblock %}
{% block content %}
    <h3 class="text-center">Регистрация нового покупателя</h3>
<div class="row" style="margin-bottom: 50px; margin-top: 50px">
<div class="control-form">
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться">
    </form>
</div>

</div>
{% endblock %}