{% extends 'base.html' %}

{% block title %}{{ category.name }} {{ subcategory.name }}{% endblock %}

                  {% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        <li class="breadcrumb-item active">{{ subcategory.name }}</li>
                  {% endblock %}
{% block content %}
          {% for product in subcategory_products %}
            {% include 'item_card.html' %}
          {% endfor %}
{% endblock content %}