{% extends 'base.html' %}
{% block title %}Подарки{% endblock %}

                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Оплатить заказ</li>
                  {% endblock %}

{% block content %}


      <h3 class="text-center">Форма оплаты от банка (в разработке)</h3>
<div class="control-form">
<!--Подключение библиотеки-->
<script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>

<!--HTML-элемент, в котором будет отображаться платежная форма-->
<div id="payment-form"></div>

<script>
//Инициализация виджета. Все параметры обязательные.
const checkout = new window.YooMoneyCheckoutWidget({
    confirmation_token: '{{ confirmation_token }}',
    return_url: 'https://{{ settings.SITE_URL }}/store/',
    error_callback: function(error) {
        //Обработка ошибок инициализации
    }
});

//Отображение платежной формы в контейнере
checkout.render('payment-form')
//После отображения платежной формы метод render возвращает Promise (можно не использовать).
  .then(() => {
     //Код, который нужно выполнить после отображения платежной формы.
  });
</script>
</div>

</div>



{% endblock content %}
