{% extends 'base.html' %}
{% load crispy_forms_tags %}
                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">Регистрация</li>
                  {% endblock %}
{% block content %}
    <h3 class="text-center">Требуется подтверждение адреса электронной почты!</h3>
<div class="row" style="margin-bottom: 50px; margin-top: 50px">
<div class="control-form">
    <p>Похоже, что-то пошло не так. Код, указанный вами недействителен. :-(</p>

</div>

</div>
{% endblock %}