{% load static %}


{% include 'includes/page_header.html' %}

<!--     <section class="tm-welcome-section">
      <div class="container tm-position-relative">
        <div class="row tm-welcome-content">
          <p class="gray-text tm-welcome-description">Здесь можно разместить карусель</p>
        </div>
      </div>
    </section>
 -->
<div class="tm-main-section">

           <div class="group-farm">
                <div class="group"><h3>Шоперы</h3>
              <a href="/category/shopper_bags/"><img src="{% static "img/group-shoppers.png" %}" alt="Шоперы" class="tm-popular-item-img" height="238" width="223"></a>
                </div>

                <div class="group"><h3>Аксессуары</h3>
              <a href="/category/accessories/"><img src="{% static "img/group-accessories.png" %}" alt="Аксессуары" class="tm-popular-item-img" height="238" width="223"></a>
                </div>
            </div>

           <div class="group-farm">
                <div class="group"><h3>Рюкзаки</h3>
              <a href="/category/backpacks/"><img src="{% static "img/group-backpacks.png" %}" alt="Рюкзаки" class="tm-popular-item-img" height="238" width="223"></a>
                </div>

                <div class="group"><h3>Поясные сумки</h3>
              <a href="/category/waist_bags/"><img src="{% static "img/group-waist-bags.png" %}" alt="Поясные сумки" class="tm-popular-item-img" height="238" width="223"></a>
                </div>
            </div>

    </div>
{% include 'includes/page_footer.html' %}
