{% extends 'base.html' %}

{% block title %} {{ flatpage.title }} {% endblock %}}

{% block header %} {{ flatpage.title }} {% endblock %}}
                  {% block breadcrumbs %}
                <li class="breadcrumb-item active">{{ flatpage.title }}</li>
                  {% endblock %}

      <div class="category_menu">
        <ul>
          {% for flatpage in flatpages %}
          <li class="category-top"><a href="{{ flatpage.get_absolute_url }}">{{ flatpage.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!-- /.col-lg-3 -->

{% block content %}
    <div class="control-form">
{{ flatpage.content }}
    </div>
{% endblock %}}
